.commitment {
    margin-bottom: 200px;
}
.commitment__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 80px;
}
.commitment__img {
    background-color: #767676;
}
.commitment__content-wrapper {
    width: 540px;
}
.commitment__title {
    margin: 0;
    margin-bottom: 20px;
    font-size: 40px;
    color: #333D4B;
}
.commitment__text {
    margin: 0;
    font-size: 16px;
    color: #333D4B;
}